@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h3, p {
  margin: 0;
}

.border-round {
  border-radius: 0.6em;
}

.button {
  cursor: pointer;
  height: 3em;
  width: 10em;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid #ec1e37;
  background-color: #ec1e37;
  color: white;
  border-radius: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: white;
  color: #ec1e37;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav {
  position: fixed;
  height: 4em;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 2;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.22);
}

nav .nav-logo a img {
  width: 5em;
  height: 5em;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .nav-link a {
  margin-left: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  color: #ec1e37;
}

.banner {
  position: relative;
  height: 100vh;
  background-image: url(../img/blur-close-up-display-1350618.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(236, 30, 52, 0.7);
  top: 0;
}

.banner h1, .banner p, .banner a {
  position: relative;
  z-index: 1;
}

.banner h1 {
  text-transform: capitalize;
  color: black;
  font-weight: bolder;
  font-size: 4em;
  color: white;
}

.banner p {
  font-size: 1.5em;
  color: white;
}

.banner a {
  cursor: pointer;
  height: 3em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  margin-top: 1em;
  border-radius: 2em;
  text-transform: capitalize;
  text-decoration: none;
  color: #ec1e37;
  font-weight: bold;
  border: 2px solid white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner a:hover {
  background-color: #ec1e37;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product {
  height: 15em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paket {
  height: 30em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . . ." "a a a b b b" "a a a b b b" ". . . . . .";
  grid-gap: 2em;
  color: white;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0eaf5;
}

.paket .fantastic {
  background-image: url(../img/img1.jpg);
  background-size: cover;
  padding: 1em;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

.paket .gemah {
  background-image: url(../img/img2.jpg);
  background-size: cover;
  padding: 1em;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: b;
}

.paket .gemah, .paket .fantastic {
  -webkit-box-shadow: 4px 4px 10px -4px #707070;
          box-shadow: 4px 4px 10px -4px #707070;
}

.paket .gemah h1, .paket .fantastic h1 {
  margin-bottom: 1em;
}

.about {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 40em;
      grid-template-rows: 40em;
  margin: 2em 0;
  padding: 2em;
}

.about::after {
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(236, 30, 52, 0.4);
  width: 15em;
  height: 15em;
  border-radius: 10em;
  top: 4em;
  left: 5em;
}

.about::before {
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(236, 30, 52, 0.4);
  width: 20em;
  height: 20em;
  border-radius: 10em;
  top: 4em;
  left: 15em;
}

.about .about-img {
  padding: 3em;
}

.about .about-img img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -1px 12px 24px -5px rgba(0, 0, 0, 0.24);
          box-shadow: -1px 12px 24px -5px rgba(0, 0, 0, 0.24);
}

.about .ttg {
  position: relative;
  z-index: 1;
}

.about .ttg .tentang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  color: #212121;
}

.about .ttg .tentang img {
  margin-right: 1em;
}

.about .ttg .tentang h3 {
  color: #ec1e37;
  font-weight: bolder;
  text-transform: uppercase;
}

.about .ttg .p-tentang {
  color: #424242;
}

.about .ttg .p-tentang h1 {
  text-transform: uppercase;
  line-height: 2em;
  font-size: 3em;
}

.about .ttg .p-tentang p {
  margin-bottom: 1em;
}

.about .ttg div.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .ttg div.button a {
  text-decoration: none;
  color: white;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
  padding: 2em;
  color: #424242;
}

article::after {
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(236, 30, 52, 0.4);
  width: 5em;
  height: 5em;
  border-radius: 10em;
  top: 4em;
  left: 0;
}

article::before {
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(236, 30, 52, 0.4);
  width: 8em;
  height: 8em;
  border-radius: 10em;
  bottom: 0;
  right: 0;
}

article h1 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

article p {
  line-height: 1.5em;
}

footer {
  background-color: #ec1e37;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  color: white;
}

footer span a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */